@model BenefitsPortal.Models.BenefitsViewModels.ShowBenefitsPlansViewModel

<h1 class="yourBenefitsHeader">Benefits Plans Offered</h1>

<div class="container">
    <h3>Life Insurance Plans</h3>
    @foreach (var lplan in Model.LifeInsurances)
    {
        <div>@Html.DisplayFor(modelItem => lplan.LifeInsPlanId)</div>
        <div>@Html.DisplayFor(modelItem => lplan.LifeInsPlanName)</div>
        <div>@Html.DisplayFor(modelItem => lplan.LifeInsPlanSummary)</div>
        <div>@Html.DisplayFor(modelItem => lplan.LifeInsPlanLink)</div>
    }
    <h3>Retirement Plans</h3>
    @foreach(var rplan in Model.RetirementPlans)
    {
        <div>@Html.DisplayFor(modelItem => rplan.RetirementPlanId)</div>
        <div>@Html.DisplayFor(modelItem => rplan.RetirementPlanName)</div>
        <div>@Html.DisplayFor(modelItem => rplan.RetirementPlanSummary)</div>
        <div>@Html.DisplayFor(modelItem => rplan.RetirementPlanLink)</div>
    }
</div>