@model BenefitsPortal.Models.BenefitsViewModels.DashboardViewModel

<h1 class="yourBenefitsHeader">Dashboard of Employee Benefits</h1>

<div class="container">
    <div class="row">
        <div class="col-md-2 benefitsColumnHeader">Last Name, First Name</div>
        <div class="col-md-1 benefitsColumnHeader">Employee ID</div>
        <div class="col-md-1 benefitsColumnHeader">Department</div>
        <div class="col-md-1 benefitsColumnHeader">Hire Date</div>
        <div class="col-md-1 benefitsColumnHeader">PTO Accrual</div>
        <div class="col-md-1 benefitsColumnHeader">PTO Total</div>
        <div class="col-md-3 benefitsColumnHeader">Health Plan</div>
        <div class="col-md-2 benefitsColumnHeader">% to Retirement</div>
    </div>
    @foreach (var db in Model.DashboardBenefits)
    {
        <div class="row">
            <div class="col-md-2">
                <a asp-action="Edit" asp-route-id="employee.EmployeeId">@Html.DisplayFor(modelItem => db.LastName)</a>
                @Html.DisplayFor(modelItem => db.FirstName)
            </div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => db.EmployeeId)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => db.Department)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => db.HireDate)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => db.PtoRate)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => db.PtoTotal)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => db.HealthPlan)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => db.RetirementPlanPercentage)</div>
        </div>
        <br />
    }
</div>