@model BenefitsPortal.Models.BenefitsViewModels.MyBenefitsViewModel

<div class="container">
    <h1 class="yourBenefitsHeader">Your Information</h1>

    <div class="row">
        <p class="col-md-offset-2 col-md-6">NAME: @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName)</p>
        <p class="col-md-4">EMPLOYEE ID: @Html.DisplayFor(model => model.Employee.EmployeeId)</p>
    </div>
    
    <div class="row">
        <p class="col-md-offset-2 col-md-6">ADDRESS: @Html.DisplayFor(model => model.Employee.StreetAddress) @Html.DisplayFor(model => model.Employee.City) @Html.DisplayFor(model => model.Employee.State), @Html.DisplayFor(model => model.Employee.Zip)</p>
        <p class="col-md-4">DEPARTMENT: @Html.DisplayFor(model => model.Employee.Department)</p>
    </div>

    <h1 class="yourBenefitsHeader">Your Benefits</h1>
    <h3 class="yourBenefitsHeader">Employee Specific Benefits</h3>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4 class="benefitsColumnHeader">PTO:</h4>
            <p>PTO Available: @Html.DisplayFor(model => model.Employee.PtoTotal)</p>
            <p>PTO Accrual Rate: @Html.DisplayFor(model => model.Employee.PtoRate) per pay period</p>
            <br />
        </div>
        <div class="col-md-4">
            <h4 class="benefitsColumnHeader">Health Insurance:</h4>
            <p>@Html.DisplayFor(model => model.HealthInsurance.HealthInsPlanName)</p>
            <p>@Html.DisplayFor(model => model.HealthInsurance.HealthInsPlanSummary)</p>
            <p>Premium: $@Html.DisplayFor(model => model.HealthInsurance.HealthInsPremium)</p>
            <p>Deductible: $@Html.DisplayFor(model => model.HealthInsurance.HealthInsDeductible)</p>
            <a href="@Html.DisplayFor(model => model.HealthInsurance.HealthInsPlanLink)">@Html.DisplayFor(model => model.HealthInsurance.HealthInsPlanLink)</a>
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4 class="benefitsColumnHeader">Life Insurance:</h4>
            <p>@Html.DisplayFor(model => model.LifeInsurance.LifeInsPlanName)</p>
            <p>@Html.DisplayFor(model => model.LifeInsurance.LifeInsPlanSummary)</p>
            <a href="@Html.DisplayFor(model => model.LifeInsurance.LifeInsPlanLink)">@Html.DisplayFor(model => model.LifeInsurance.LifeInsPlanLink)</a>
        </div>
        <div class="col-md-4">
            <h4 class="benefitsColumnHeader">Retirement Plan:</h4>
            <p>@Html.DisplayFor(model => model.Retirement.RetirementPlanName)</p>
            <p>@Html.DisplayFor(model => model.Retirement.RetirementPlanSummary)</p>
            <a href="@Html.DisplayFor(model => model.Retirement.RetirementPlanLink)">@Html.DisplayFor(model => model.Retirement.RetirementPlanLink)</a>
        </div>
    </div>  

        <h2 class="yourBenefitsHeader">Site-Wide Benefits</h2>
        <div class="row">
            <h4 class="col-md-2 benefitsColumnHeader">Site Name</h4>
            <h4 class="col-md-2 benefitsColumnHeader">Discount Type</h4>
            <h4 class="col-md-2 benefitsColumnHeader">Summary</h4>
            <h4 class="col-md-2 benefitsColumnHeader">Instructions</h4>
            <h4 class="col-md-2 benefitsColumnHeader">Web Link</h4>
        </div>
        @foreach (var siteDiscount in Model.SiteDiscounts)
        {
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">@Html.DisplayFor(modelItem => siteDiscount.SiteName)</div>
                    <div class="col-md-2">@Html.DisplayFor(modelItem => siteDiscount.DiscountType)</div>
                    <div class="col-md-2">@Html.DisplayFor(modelItem => siteDiscount.Summary)</div>
                    <div class="col-md-2">@Html.DisplayFor(modelItem => siteDiscount.Instructions)</div>
                    <a href="@siteDiscount.Link"><div class="col-md-4">@Html.DisplayFor(modelItem => siteDiscount.Link)</div></a>
                </div>
            </div>
        }
    </div>